:root { 
  --bg-gradient-light: linear-gradient(to bottom, #3a027b, #000000);
  --bg-gradient-dark: linear-gradient(to bottom, #3a027b, #000000);
  --bg-color-light: #333;
  --bg-color-dark: #333;
  --text-color-light: #ffffff;
  --text-color-dark: #ffffff;
  --border-color-light: #2b1b56;
  --border-color-dark: #2b1b56;
  --border-button-light: #c8b7f9;
  --border-button-dark: #c8b7f9;
  --hover-color-light: #575757;
  --hover-color-dark: #575757;
  --bg-button-light: #3a027b;
  --bg-button-dark: #3a027b;
  --bg-body-light: #000000;
  --bg-body-dark: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-gradient: var(--bg-gradient-dark);
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --border-color: var(--border-color-dark); 
    --hover-color: var(--hover-color-dark);
    --bg-button: var(--bg-button-dark);
    --border-button: var(--border-button-dark);
    --bg-body: var(--bg-body-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-gradient: var(--bg-gradient-light);
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
    --border-color: var(--border-color-light); 
    --hover-color: var(--hover-color-light);
    --bg-button: var(--bg-button-light);
    --border-button: var(--border-button-light);
    --bg-body: var(--bg-body-light);
  }
}

#root {
  align-items: center;
  text-align: center;
  font-size: 4vw;
}

body {
  background-color: var(--bg-body);
  height: 100vh;
  width: 100vw;
  color:white;
}

.ton-button-class{
  background-color: black;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
}

.left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  width: calc(100vw - 4vw);
  height: calc(100vh - 4vh);
  align-items: center;
  padding: 0;
  text-align: center;
  font-size: 3vw;
}

.top-section {
  background: var(--bg-gradient);
  border-radius: 10px;
  padding: 0.5vw;
  padding-bottom: 10px;
  margin-bottom: 1vh;
}

.down-section {
  background: var(--bg-gradient);
  border-radius: 10px;
  padding: 0.5vw;
  min-height: 50vh;
}

.menu {
  background-color: var(--bg-color);
  overflow: hidden;
  padding: 1vh 0;
  border-radius: 2vw;
  margin-bottom: 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.menu ul li {
  display: inline;
}

.menu ul li button, .menu ul li > * {
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  padding: 2vh 3vw;
  text-decoration: none;
  background-color: var(--bg-color);
  border: none;
  border-radius: 2vw;
  vertical-align: middle;
  font-size: 2.5vw;
}

.menu ul li button:hover, .menu ul li > *:hover {
  background-color: var(--hover-color);
}

.card {
  padding: 4vh 2vw;
}

.read-the-docs {
  color: var(--text-color);
  font-size: 2vw;
}

.logo {
  height: 19vh;
  margin-left: 10px;
}

.three-dot-menu {
  cursor: pointer;
  font-size: 2.2vw;
  color: var(--text-color);
  padding: 2.2vw;
  margin-bottom: 10px;
}

.help-content {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  width: 90%;
  margin-bottom: 25px;
}

.detail-content {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border: 1px solid var(--border-color);
  width: 90%;
  margin-bottom: 25px;
}

.menu-content div {
  margin-bottom: 8px;
}

.menu-content .Hint {
  font-size: smaller;
  opacity: 0.9;
}

.action-button {
  width: 46%;
  height: 50px;
  font-size: 16px;
  color: var(--text-color);
  border: 0.5px solid var(--border-button);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  background-image: linear-gradient(to bottom, #3a027b, #000000);
  background-size: 140% auto;
}

.action-button:hover {
  background-position: right center;
}

.image-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.image-container {
  flex: 1;
  text-align: center;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.wallet-image {
  width: 90%;
  height: auto;
}

.image-value {
  font-size: 3vw;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-container {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-row-single {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.buy-row {
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 10px;
}

.buy-label {
  padding-bottom: 15px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background: var(--bg-gradient);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container input {
  margin: 0 10px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
}

.offchain-data {
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #root {
    font-size: 5vw;
  }

  .menu ul {
    flex-direction: row-reverse;
  }

  .menu ul li {
    display: inline-block;
    margin: 0 1vw;
  }

  .menu ul li button, .menu ul li > * {
    padding: 1.5vh 2.5vw;
    border-radius: 2vw;
    font-size: 3.5vw;
  }

  .logo {
    height: 8vh;
  }

  .Hint {
    font-size: 3vw;
    overflow-wrap: break-word;
  }

  .three-dot-menu {
    font-size: 7vw;
  }

  .menu-content {
    font-size:small;
  }

  .action-button {
    font-size: 14px;
  }
}
